<div class="message-container" id="<%= dom_id message %>">
  <h2 class="message-titre"><%= message.titre %></h2>
  <p class="message-name"><%= message.name %></p>
  <p class="message-text"><%= message.message %></p>
  <button class="show-button">Show</button>
</div>
