<p style="color: green"><%= notice %></p>

<h1>Eleves</h1>

<div id="eleves">
  <% @eleves.each do |eleve| %>
    <%= render eleve %>
    <p>
      <%= link_to "Show this eleve", eleve %>
    </p>
  <% end %>
</div>

<%= link_to "New eleve", new_eleve_path %>
