<div style="text-align: center; margin-top: 3rem;">
  <h1>New eleve</h1>
  <%= render "form", eleve: @eleve %>  

  <br>  

  <div>
    <%= link_to "Back to eleves", admin_eleves_path %>
  </div>
</div>