<div style="text-align: center; margin-top: 3rem;">
  <h1>Nouveau parent</h1>
  
  <%= render "form", parent: @parent %>
  
  <br>
  
  <div>
    <%= link_to "Back to parents", admin_parents_path %>
  </div>
</div>