<div style="text-align: center; margin-top: 3rem;">
   <h1>New teacher</h1>
   
   <%= render "form", teacher: @teacher %>
   
   <br>
   
   <div>
     <%= link_to "Back to teachers", admin_teachers_path %>
   </div>
</div>