<p style="color: green"><%= notice %></p>

<%= render @chatroom %>

<%# <div>
  |
  <%= link_to "Back to chatrooms", chatrooms_path %>

  <%# <%= button_to "Destroy this chatroom", @chatroom, method: :delete %>
