<%# <div class="dropdown">
  <button onclick="toggleDropdown()" class="dropbtn">Dropdown</button>
  <div id="dropdown-content" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> %>

<div class="dropdown">
  <button class="dropbtn" id="dropbtn"> Menu ⇣⇣</button>
  <ul class="navlinks dropdown-content" id="dropdown-content">
    <li class="link"><a href="#" class="link">A propos</a></li>
    <li class="link"><a href="#" class="link">Communique</a></li>
    <li class="link"><a href="#" class="link">Contactez-nous</a></li>
    <% if user_signed_in?%>
     <% if current_user.is_admin? %>
      <li class="link"><%= link_to "Dashboard admin", admin_teachers_path, :class => "link" %></li>
    <% end %>
      <li class="link">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "link" %>
      </li>
    <% else %>
      <li class="link">
        <%= link_to "S'enregistrer", new_user_registration_path, :class => "link" %>
      </li>
    <%end%>
  </ul>
</div>