
<div class="logo-footer">
  <h2>Congolese British Grammar School</h2> <br/>
  <p>L'école propose le programme national en conformité avec le ministère de 
  l'Éducation et le programme britannique pour les écoles maternelles, primaires et secondaires. 
  L'apprentissage comprend des variétés de cours pour consolider la formation académique dans différentes disciplines soutenues 
  par l'apprentissage de la langue anglaise.</p>
</div>
<div class="contact-footer">
  <div class="contact-icon-container">
    <div> <i class="fas fa-map-marker-alt"></i></div>
    <p>Avenur Gaston Muzala, Quartier Jolie City Kazembe, Commune de Dilala, Kolwezi, Province de Lualaba, RD Congo</p>
  </div>
  <div class="contact-icon-container">
    <div><i class="fas fa-phone-volume"></i></div>
    <p>Opening hours: 8:00 AM - 4:00 Hr Pm 00243974469299 00243817301082</p>
  </div>
</div>

