<div>
  <ul class='uppernav'>
    <li><i class="fa-solid fa-phone-arrow-down-left"></i>Contact</li>
    <li>email</li>
    <li>Social icons</li>
  </ul>
</div>
<div class="nav">
  <div class="logo">
    <%= image_tag"logos/CBGClogo.png", class: 'my-logo' %>
  </div>
  <%= render 'shared/dropdown'%>
</div>

