<div>
  <ul class='uppernav'>
    <li class="uppernav-link uppernave-icon"> <a href="tel:0974469299" class="link"><i class="bi bi-telephone-forward-fill"></i> <div class="icon-name"> Tél: +243 974 469 299</div></li>
    <li class="uppernav-link uppernave-icon"> <a href = "mailto: direction2cbgschool-cd.org"> <i class="bi bi-envelope-fill"></i> <div class="icon-name"> email </div> </a> </li>
    <li class="uppernav-link uppernave-icon"> <a href = "https://youtu.be/liw4lhuwvsk"><i class="bi bi-youtube"></i><div class="icon-name">Youtube</div></a> </li>
    <li class="uppernav-link uppernave-icon"> <a href = "https://www.tiktok.com/@cbgschool243?is_from_webapp=1&sender_device=pc"> <i class="bi bi-tiktok"></i> <div class="icon-name">tiktok </div> </a></li>
    <li class="uppernav-link uppernave-icon"> <a href = "https://www.instagram.com/cbg_school/"> <i class="bi bi-instagram"></i><div class="icon-name"> instagram </div> </a> </li>
  </ul>
</div>
<div class="navbar navbar-expand-lg d-flex">
  <div class="logo">
    <%= image_tag"logos/CBGClogo.png", class: 'my-logo'%>
  </div>
  <%= render 'shared/dropdown'%>
</div>
