<div>
  <ul class='uppernav'>
    <li><i class="fas fa-phone-volume"></i>Contact</li>
    <li> <i class="fa fa-envelope-open"></i> Email: direction2cbgschool-cd.org</li>
    <li> <i class="fa fa-youtube-play"></i> </li>
  </ul>
</div>
<div class="nav">
  <div class="logo">
    <%= image_tag"logos/CBGClogo.png", class: 'my-logo' %>
  </div>
  <%= render 'shared/dropdown'%>
</div>

