<div>
  <ul class='uppernav'>
    <li> <a href="tel:0974469299">  <i style='font-size:24px' class='fas'>&#xf1e4;</i> Contact: +243 974 469 299</li>
    <li> <a href = "mailto: direction2cbgschool-cd.org"> <i class="fa fa-envelope-open"></i> Email: direction2cbgschool-cd.org </a> </li>
    <li> <a href = "https://youtu.be/liw4lhuwvsk">Youtube</a> </li>
    <li> <a href = "https://www.tiktok.com/@cbgschool243?is_from_webapp=1&sender_device=pc"> <%= image_tag "https://static.vecteezy.com/system/resources/previews/002/557/421/original/tiktok-logo-black-mobile-social-media-icon-free-vector.jpg", class: "icon"%> &nbsp; tiktok </a></li>
    <li> <a href = "https://www.instagram.com/cbg_school/"> <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png", class: "icon"%> &nbsp;instagram </a> </li>
  </ul>
</div>
<div class="nav">
  <div class="logo">
    <%= image_tag"logos/CBGClogo.png", class: 'my-logo' %>
  </div>
  <%= render 'shared/dropdown'%>
</div>
