<div class="dashboard">
  <div class="main-content">
    <div class="dashboard-content">
      <div class="plans-week">
        <div class="plan-head">
          <h4>Plans de l'annees</h4>
          <button class="plan-btn"> + ajouter </button>
        </div>
      </div>
      <div class="plans-week">
        <div class="plan-head">
          <h4>Meilleurs eleves</h4>
          <button class="plan-btn"> + ajouter </button>
        </div>
      </div>
      <div class="plans-week messages">
        <div class="plan-head">
          <h4>Messages</h4>
          <button class="plan-btn"> Tout supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>

