<div class="dashboard">
  <div class="main-content">
    <div class="dashboard-content">
      <div class="plans-week">
        <div class="plan-head">
          <h4 class="section-title">Plans de l'année</h4>
          <button class="btn-add">+ Ajouter</button>
        </div>
        <p class="message">
          Aucun plan ajoute
        </p>
      </p>
      <div class="plans-week">
        <div class="plan-head">
          <h4 class="section-title">Meilleurs élèves</h4>
          <button class="btn-add">+ Ajouter</button>
        </div>
         <p class="message">
          Pas d'info
        </p>
      </div>
      <div class="plans-week messages">
        <div class="plan-head">
          <h4 class="section-title">Messages</h4>
          <button class="btn-delete">Tout Supprimer</button>
        </div>
        <div class="message-container">
          <div class="message">
            <p class="sender">Josh:</p>
            <p class="text">Je veux des informations sur les inscriptions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>