<div class="dashboard">
  <div class="main-content">
    <div class="dashboard-content">
      <div class="plans-week">
        <div class="plan-head">
          <h4 class="section-title">Plans de l'année</h4>
          <button class="btn-add">+ Ajouter</button>
        </div>
      </div>
      <div class="plans-week">
        <div class="plan-head">
          <h4 class="section-title">Meilleurs élèves</h4>
          <button class="btn-add">+ Ajouter</button>
        </div>
      </div>
      <div class="plans-week messages">
        <div class="plan-head">
          <h4 class="section-title">Messages</h4>
          <button class="btn-delete">Tout Supprimer</button>
        </div>
        <div class="message-container">
          <div class="message">
            <p class="sender">Josh:</p>
            <p class="text">Je veux des informations sur les inscriptions</p>
            <button class="btn-show">Afficher</button>
          </div>
          <div class="message">
            <p class="sender">Alice:</p>
            <p class="text">Bonjour, pouvez-vous m'aider à réinitialiser mon mot de passe?</p>
            <button class="btn-show">Afficher</button>
          </div>
          <div class="message">
            <p class="sender">Bob:</p>
            <p class="text">J'ai un problème avec mon compte, pouvez-vous m'aider?</p>
            <button class="btn-show">Afficher</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
