<%= form_with(model: communique) do |form| %>
  <% if communique.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(communique.errors.count, "error") %> prohibited this communique from being saved:</h2>

      <ul>
        <% communique.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
