<h1>Editing communique</h1>

<%= render "form", communique: @communique %>

<br>

<div>
  <%= link_to "Show this communique", @communique %> |
  <%= link_to "Back to communiques", communiques_path %>
</div>
