<div style="text-align: center; margin-top: 3rem;">
<h1>New communique</h1>

<%= render "form", communique: @communique %>

<br>

<div>
  <%= link_to "Back to communiques", communiques_path %>
</div>
</div>