.table-container {
  overflow-x: auto;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
}

td:last-child {
  text-align: center;
}

.btn-show, .btn-edit {
  background-color: #184C72;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 5px;
}

.btn-destroy {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 5px;
}

.btn-new-teacher {
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}


// parents style ------==============

#parents {
  border-collapse: collapse;
  width: 100%;
}

#parents th, #parents td {
  text-align: left;
  padding: 8px;
}

#parents th {
  background-color: #f2f2f2;
}

#parents tr:nth-child(even) {
  background-color: #f2f2f2;
}

#parents tr:hover {
  background-color: #ddd;
}

//------ Teachers styles awesome styles -------------//

.teacher-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.teacher-card__header {
  margin-bottom: 20px;
}

.teacher-card__title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.teacher-card__details {
  margin-bottom: 20px;
}

.teacher-card__detail {
  margin-bottom: 10px;
}

.teacher-card__detail strong {
  margin-right: 10px;
}

.teacher-card__actions {
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #ddd;
}

.button--primary {
  background-color: #184C72;
  color: #fff;
}

.button--primary:hover {
  background-color: #184C72;
}

.button--secondary {
  background-color: #fff;
  color: #184C72;
  border: 1px solid #184C72;
}

.button--secondary:hover {
  background-color: #f7f7f7;
  border-color: #184C72;
}

.button--danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.button--danger:hover {
  background-color: #c82333;
}


//============= Communiques styles =================//

.news-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.news-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.news-page hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.article {
  margin-bottom: 30px;
}

.article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.article .date {
  font-style: italic;
  margin-bottom: 10px;
}

.article .summary {
  margin-bottom: 10px;
}

.article .read-more {
  text-align: right;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background-color: #0069d9;
}

//------ SEARCH BAR---------

.admin-eleve-header {
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
}



@media (max-width: 992px) {
  .tab {
    display: block;
    width: 100%;
  }

  .tab-header {
    border-bottom: none;
  }

  .tab-header li {
    width: 100%;
    text-align: center;
  }

  .tab-header li a {
    display: block;
    padding: 10px;
  }

  .tab-content {
    display: none;
    padding: 10px;
  }

  .tab-content.active {
    display: block;
  }
}
