.table-container {
  overflow-x: auto;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
}

td:last-child {
  text-align: center;
}

.btn-show, .btn-edit {
  background-color: #184C72;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 5px;
}

.btn-destroy {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 5px;
}

.btn-new-teacher {
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}

#parents {
  border-collapse: collapse;
  width: 100%;
}

#parents th, #parents td {
  text-align: left;
  padding: 8px;
}

#parents th {
  background-color: #f2f2f2;
}

#parents tr:nth-child(even) {
  background-color: #f2f2f2;
}

#parents tr:hover {
  background-color: #ddd;
}


.teacher-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.teacher-card__header {
  margin-bottom: 20px;
}

.teacher-card__title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.teacher-card__details {
  margin-bottom: 20px;
}

.teacher-card__detail {
  margin-bottom: 10px;
}

.teacher-card__detail strong {
  margin-right: 10px;
}

.teacher-card__actions {
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #ddd;
}

.button--primary {
  background-color: #184C72;
  color: #fff;
}

.button--primary:hover {
  background-color: #184C72;
}

.button--secondary {
  background-color: #fff;
  color: #184C72;
  border: 1px solid #184C72;
}

.button--secondary:hover {
  background-color: #f7f7f7;
  border-color: #184C72;
}

.button--danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.button--danger:hover {
  background-color: #c82333;
}

.news-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.news-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.news-page hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.article {
  margin-bottom: 30px;
}

.article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.article .date {
  font-style: italic;
  margin-bottom: 10px;
}

.article .summary {
  margin-bottom: 10px;
}

.article .read-more {
  text-align: right;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  background-color: #0069d9;
}

.admin-eleve-header {
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.main-content {
  width: 100%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.plans-week {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.btn-add {
  background-color: #1abc9c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-add:hover {
  background-color: #16a085;
}

.btn-delete {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-delete:hover {
  background-color: #c0392b;
}


.message {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  gap: 25px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 100%;
  height: max-content;
}

.sender {
  font-weight: bold;
  margin: 0;
}

.text {
  margin: 0;
  padding-left: 10px;
  width: 100%;
}

.btn-show {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-show:hover {
  background-color: #2980b9;
}

.message-form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.message-errors {
  color: red;
}

.message-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-field label {
  font-weight: bold;
}

.message-field input, .message-field textarea {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.message-submit {
  display: flex;
  justify-content: flex-end;
}

.message-submit input[type="submit"] {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.message-submit input[type="submit"]:hover {
  background-color: #2980b9;
}


.message-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 500px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}


.message-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.message-titre {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.message-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

#messages{
  height: max-content;
}

.message-text {
  font-size: 18px;
  margin-bottom: 16px;
}

.show-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.events-container {
  max-width: 800px;
  margin: 0 auto;
}

.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.events-header h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.events-header .button {
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
}

.events-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event {
  display: flex;
  margin-bottom: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.event-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  color: #333;
}

.event-date-month {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.event-date-day {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.event-details {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.event-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px;
}

.event-description {
  font-size: 16px;
  margin: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 0.5rem;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.admin-letter-container {
  margin-top: 30px;
}

.admin-letter-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.admin-letter {
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.admin-letter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 8px;
}

.admin-letter-sender {
  display: flex;
  align-items: center;
}

.admin-letter-sender-icon {
  font-size: 30px;
  margin-right: 10px;
}

.admin-letter-sender-name {
  font-size: 18px;
  font-weight: bold;
}

.admin-letter-date {
  font-size: 14px;
}

.admin-letter-body {
  font-size: 16px;
}

.admin-letter-subject {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.admin-letter-message {
  white-space: pre-line;
}

.admin-letter-message p {
  margin-bottom: 10px;
}

/* Form styles */
.message-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .message-form {
    max-width: 100%;
  }
}




@media (max-width: 992px) {
  .message {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .tab {
    display: block;
    width: 100%;
  }

  .tab-header {
    border-bottom: none;
  }

  .tab-header li {
    width: 100%;
    text-align: center;
  }

  .tab-header li a {
    display: block;
    padding: 10px;
  }

  .tab-content {
    display: none;
    padding: 10px;
  }

  .tab-content.active {
    display: block;
  }

  .dashboard {
    width: 100vh;
  }

  table {
    width: 120vh;
  }
}


.logged-in-email {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.user-icon {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.logged-in-email h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.input:checked ~ .notification {
  display: block;
}