
.eleves {
  background-color: #f4f4f4;
  height: 120vh;
  overflow-x: scroll;
  padding: 20px;
}

.eleves div {
  background-color: #fff;
  width: 100%;
  margin: 25px auto;
  border-radius: 10px;
  padding: 20px;
}

.sidebar-admin {
  display: grid;
  grid-template-columns: 285px 1fr;
  width: 100%;
}
 
.adminlinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  list-style-type: none;
  padding: 30px;
}

.adminlink {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 8px;
  color: rgb(3, 3, 3);
  cursor: pointer;
  text-decoration: none;
}

.dashboardbard {
  width: max-content;
}

.presentation-img {
  width: 700px;
}.prezft {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000;
  position: relative;
}

.animated-text1 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000;
  font-size: 2em;
  animation: typing 5s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* Ensure logo and toggler button are aligned */
.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler-icon {
  color: #000;
}

@media (max-width: 767.98px) {
  .navbar-toggler {
    margin-left: auto;
  }
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16ch; /* Adjust this value based on the length of your text */
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

.heat{
  background-color:  #02979e;
  padding: 16px;
}
.head {
  border: 2px solid #02979e;
  padding: 16px;
}

.speech-container {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.img-speech{
  width: 390px;
  object-fit: contain; 
}

.speech {
  width: 50%;
  // margin: auto;
  font-weight: 800;
}


@media only screen and (max-width: 992px) {
    .sidebar-admin {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .adminlinks {
      flex-direction: row;
    }

    .eleves {
      width: max-content;
    }

    .presentation {
      flex-direction: column;
      gap: 10px;
      padding: 15px;
    }

    .presentation-img {
      width: 100%;
      object-fit: contain;
    }

    .speech-container {
      flex-direction: column;
      justify-content: center;
    }

    .speech {
      width: 70%;
      margin: auto;
      font-weight: 800;
    }

    .img-speech{
      object-fit: cover;
      margin: auto;
    }
}

