<p style="color: green"><%= notice %></p>

<h1>Communiques</h1>

<div id="communiques">
  <% @communiques.each do |communique| %>
    <%= render communique %>
    <p>
      <%= link_to "Show this communique", communique %>
    </p>
  <% end %>
</div>

<%= link_to "New communique", new_communique_path %>
