<p style="color: green"><%= notice %></p>

<h1>Communiques</h1>

<div id="communiques">
  <% @communiques.each do |communique| %>
   <div>
    <h3><%= communique.titre%></h3>
    <p><%= communique.description%></p>
    <p>
      <%= link_to "Show this communique", communique %>
    </p>
   </div> 
  <% end %>
</div>

